.main {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    max-width: 50%;
    min-width: 50em;
    border: 1px solid #000000;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Console", Monaco, monospace;

}

.internal {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: inherit;
    text-align: center;
    font-family: inherit;
}

.container {
    display: flex;
    flex-direction: row;
}


.outputBox {
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.leftPane {
    width: 50%;
}


.inputArea {
    display: flex;
    flex-direction: row;
}


.resultsBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.results {
    border: 1px solid #0000FF;
    background-color: #FFFFFF;
    overflow: auto;
    height: 300px;
}


.poster {
    max-height: 350px;
}


.footerText {
    font-size: xx-small;
}


.searchBar {
    width: 75%;
    right: 0px;
    height: 3.5em;
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
}


.searchBtn {
    width: 25%;
    left: 0px;
    height: 3.5em;
    font-family: inherit;
    vertical-align: middle;
}


.yearInput {
    height: 1.5em;
    text-align: right;
}


.yearBox {
    font-family: inherit;
}


.yearCheck {
    font-family: inherit;
}


.dropDown {
    font-family: inherit;
    max-width: 100%;
    height: 3.5em;
}


h1 {
    text-align: center;
    font-family: inherit;
}
